<app-nav-bar></app-nav-bar>

<div class="mx-40 px-8 py-6 rounded-3xl shadow-lg bg-gray-100">
    <h1 class="text-3xl font-bold mb-8 text-center">{{booking.hotelName}}</h1>
    <div class="flex flex-wrap -mx-2 mt-8">
       
       <!-- Image Section -->
       <div class="w-full md:w-1/2 px-2">
         <img [src]="'data:image/png;base64,' + booking.hotelImage" alt="Hotel Image" class="w-full h-64 object-cover rounded-lg">
       </div>
       <!-- Details Section -->
       <div class="w-full md:w-1/2 px-12">
         <div class="flex flex-wrap -mx-2">
           <div class="w-full md:w-1/2 px-2">
             <p class="font-bold">Room Type:</p>
             <p>{{ booking.roomType }}</p>
           </div>
           <div class="w-full md:w-1/2 px-2">
             <p class="font-bold">Status:</p>
             <p>{{ booking.status }}</p>
           </div>
           <div class="w-full md:w-1/2 px-2">
             <p class="font-bold">Check-In:</p>
             <p>{{ booking.checkInDate | date:'mediumDate' }}</p>
           </div>
           <div class="w-full md:w-1/2 px-2">
             <p class="font-bold">Check-Out:</p>
             <p>{{ booking.checkOutDate | date:'mediumDate' }}</p>
           </div>
           <div class="w-full md:w-1/2 px-2">
             <p class="font-bold">Guests:</p>
             <p>{{ booking.noOfGuests }}</p>
           </div>
           <div class="w-full md:w-1/2 px-2">
             <p class="font-bold">Room Count:</p>
             <p>{{ booking.roomCount }}</p>
           </div>
           <div class="w-full md:w-1/2 px-2">
             <p class="font-bold">No of Nights:</p>
             <p>{{ calculateNights(booking.checkInDate, booking.checkOutDate) }}</p>
           </div>
         </div>
       </div>
    </div>
    <div class="mt-10">
        <h2 class="text-2xl font-bold mb-4 ">Additional Information</h2>
        <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
           <!-- Total Payment -->
           <div class="bg-gray-100 p-4 rounded-lg shadow-md">
              <h3 class="font-semibold text-lg mb-2">Total Payment</h3>
              <p class="text-gray-700">${{ booking.totalAmount }}</p>
           </div>
           <!-- Discounts -->
            <div class="bg-gray-100 p-4 rounded-lg shadow-md">
                <h3 class="font-semibold text-lg mb-2">Discounts</h3>
                <ul class="list-none text-gray-700">
                    <li *ngFor="let discount of booking.discountNames; let i = index" class="flex justify-between">
                       <span>{{ discount }}</span>
                       <span class="mr-12 font-bold">{{ booking.discountAmounts[i] }}%</span>
                    </li>
                </ul>
            </div>
            <!-- Supplements -->
            <div class="bg-gray-100 p-4 rounded-lg shadow-md">
                <h3 class="font-semibold text-lg mb-2">Supplements</h3>
                <ul class="list-none text-gray-700">
                    <li *ngFor="let supplement of booking.supplementNames; let i = index" class="flex justify-between">
                        <span>{{ supplement }}</span>
                       <span class="mr-12 font-bold">${{ booking.supplementPrices[i] }}</span>
                    </li>
                </ul>
            </div>
           <!-- Policies -->
           <div class="bg-gray-100 p-4 rounded-lg shadow-md">
              <h3 class="font-semibold text-lg mb-2">Policies</h3>
              <p class="text-gray-700">{{ booking.policies }}</p>
           </div>
        </div>
     </div>
    <div class="text-right mt-4">
       <button class="bg-red-500 text-white px-4 py-2 rounded-md">Cancel</button>
    </div>
   </div>
   