<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Dashboard</title>
</head>

<body class="font-sans leading-normal tracking-normal">

    <!-- Navbar -->
    <app-nav-bar class="sticky top-0 z-50"></app-nav-bar>

    <!-- Main Content Area with Dual Sidebars -->
    <div class="flex h-screen text-[#65B490] bg-gray-200 shadow-lg ">

        <!-- First Sidebar Component (Smaller) -->
        <div class="flex flex-col items-center w-16 pb-4 overflow-auto border-r  bg-gray-200 border-gray-300 shadow-lg text-[#65B490]">
            <!-- First Sidebar Links -->
            <a class="flex items-center justify-center flex-shrink-0 w-full h-16" href="#">
                <svg class="w-8 h-8 stroke-current text-[#65B490]" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M20 7l-8-4-8 4m16 0l-8 4m8-4v10l-8 4m0-10L4 7m8 4v10M4 7v10l8 4" />
                </svg>
            </a>
            <!-- Add Hotel Link -->
            <a class="flex items-center justify-center flex-shrink-0 w-10 h-10 mt-4 rounded hover:bg-gray-300"  (click)="loadComponent(addHotelComponent)">
                <svg class="w-5 h-5" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 12l2-2m0 0l7-7 7 7M5 10v10a1 1 0 001 1h3m10-11l2 2m-2-2v10a1 1 0 01-1 1h-3m-6 0a1 1 0 001-1v-4a1 1 0 011-1h2a1 1 0 011 1v4a1 1 0 001 1m-6 0h6" />
                </svg>
            </a>
            <!-- Add Contract Link -->
            <a class="flex items-center justify-center flex-shrink-0 w-10 h-10 mt-4 rounded hover:bg-gray-300"  (click)="openHotelEmailPopupForAdd()">
                <svg class="w-5 h-5" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 12h6m-6 4h6m2 5H7a2 2 0 01-2-2V5a2 2 0 012-2h5.586a1 1 0 01.707.293l5.414 5.414a1 1 0 01.293.707V19a2 2 0 01-2 2z" />
                </svg>
            </a>
            <!-- View Contracts -->
            <a class="flex items-center justify-center flex-shrink-0 w-10 h-10 mt-4 rounded hover:bg-gray-300"  (click)="openHotelEmailPopupForAdd()">
                <svg class="w-5 h-5" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 12h6m-6 4h6m2 5H7a2 2 0 01-2-2V5a2 2 0 012-2h5.586a1 1 0 01.707.293l5.414 5.414a1 1 0 01.293.707V19a2 2 0 01-2 2z" />
                </svg>
            </a>
        </div>

        <div class="flex">
            <div class="flex flex-col items-center w-48 pb-4 overflow-auto bg-gray-200 text-[#65B490]" [ngClass]="{ 'hidden': !isExpanded }">
              <!-- Second Sidebar Path Texts -->
              <p class="py-2 ">
                <img class="max-w-[70px] " src="../../../../assets/images/logoA.png" alt="Example Image">
              </p>
              <a (click)="loadComponent(addHotelComponent)" class="block py-2 px-4 text-[#65B490] rounded-md border border-transparent hover:bg-gray-300 font-semibold transition text-md duration-300">Add Hotel</a>
          
              <a (click)="openHotelEmailPopupForAdd()" class="block py-2 px-4 text-[#65B490] rounded-md border border-transparent hover:bg-gray-300 font-semibold transition text-md duration-300">Add Contract</a>
          
              <a (click)="openHotelEmailPopupForView()" class="block py-2 px-4 text-[#65B490] rounded-md border border-transparent hover:bg-gray-300 font-semibold transition text-md duration-300">View Contracts</a>
          
              <a (click)="openHotelEmailPopupForViewHotel()" class="block py-2 px-4 text-[#65B490] rounded-md border border-transparent hover:bg-gray-300 font-semibold transition text-md duration-300">View Hotel</a>
          
              <a (click)="loadComponent(hotelListComponent)" class="block py-2 px-4 text-[#65B490] rounded-md border border-transparent hover:bg-gray-300 font-semibold transition text-md duration-300">View Hotel List</a>
          
              <!-- Add more path texts here -->
            </div>
            <button class="border border-gray-300 bg-gray-200 text-[#65B490] rounded-full w-8 h-8 m-2" (click)="toggleSidebar()">
              <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 m-auto" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7"></path>
              </svg>
            </button>
          </div>
          

        <!-- Main Content Area -->
        <div class="flex flex-col flex-grow">
            <div class="flex items-center justify-between px-8 h-16  border-b bg-gray-200">
                <h1 class="text-lg font-bold pt-4 text-[#65B490]">Admin Dashboard</h1>
                <!-- Dropdown Menu -->
                <button class="relative text-sm focus:outline-none group">
                    <div class="flex items-center justify-between w-full h-16 px-4 border-b border-gray-200 hover:bg-gray-300">
                        <span class="font-medium text-[#65B490]">
                            Dropdown
                        </span> 
                        <svg class="w-4 h-4 text-[#65B490] group-hover:text-[#65B490]" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
                            <path fill-rule="evenodd" d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z" clip-rule="evenodd" />
                        </svg>
                    </div>
                    <div class="absolute z-10 flex-col items-start hidden w-full pb-1 bg-gray-100 shadow-lg group-focus:flex">
                        <a class="w-full px-4 py-2 text-left hover:bg-gray-200" (click)="loadComponent(addHotelComponent)">Add hotel</a>
                        <a class="w-full px-4 py-2 text-left hover:bg-gray-200" (click)="openHotelEmailPopupForAdd()">Add Contract</a>
                        <a class="w-full px-4 py-2 text-left hover:bg-gray-200" routerLink="/admin-dashboard">Dashboard</a>
                    </div>
                </button>
            </div>

            <div class="flex-grow p-6 overflow-auto rounded-2xl shadow-lg bg-gray-300">
                <!-- Outlet for dynamically loaded components -->
                <div class="dynamic-component-container" #dynamicComponentContainer >
                  </div>
            </div>
        </div>
    </div>

    

    <!-- Script to toggle dropdown menu -->
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const dropdownBtn = document.querySelector('.group');
            dropdownBtn.addEventListener('click', function () {
                const dropdownMenu = dropdownBtn.nextElementSibling;
                dropdownMenu.classList.toggle('hidden');
            });
        });
    </script>
</body>
